/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

h1 {
    font-size: 1.375em;
}

p {
    font-size: 1em;
}

/****** En-tête du site ***********/

.EnTete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.logo {
    width: 61.09px;
    height: 19px;
    padding: 30px 0px 30px 0px;
}

nav {
    display: flex;
    gap: 68px;
}

nav a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    color:#0065FC;
    padding: 12px 0px 12px 0px;
}

nav a:visited {
    color:#0065FC;
}

nav a:hover {
    border-top: 2px solid #0065FC;
}

/****** Zone informations et recherche ***********/

.recherche {
    display: flex;
    flex-direction: row;
    margin: 30px 0px 30px 0px;
}

.LocaIcone {
    background-color: #F2F2F2;
    justify-content: center;
    padding: 15px 20px 15px 20px;
    border-radius: 15px 0px 0px 15px;
}

input[name="recherche"] {
    border: 1px solid #F2F2F2;
    padding: 15px 20px 15px 20px;
}

input[name="recherche"]:focus {
    outline: none;
}

input[name="bouton"] {
    border: 1px solid #F2F2F2;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border-radius: 0px 15px 15px 0px;
    font-size: 1.125em;
}

::placeholder {
    color: black;
    opacity: 1;
    font-size: 1.125em;
    text-align: center;
    font-weight: bold;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .EnTete {
        flex-direction: column;
        align-items: center;
    }

    nav a:hover {
        border-top: none;
        border-bottom: 2px solid #0065FC;
    }
}