/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.conteneurPrincipal {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.sectionTitre {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.cardTitre {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

h1 {
    font-size: 1.375em;
}

p {
    font-size: 1em;
}

/****** En-tête du site ***********/

.EnTete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.logo {
    width: 61.09px;
    height: 19px;
    padding: 30px 0px;
}

nav {
    display: flex;
    gap: 68px;
}

nav a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    color:#0065FC;
    padding: 12px 0px;
}

nav a:visited {
    color:#0065FC;
}

nav a:hover {
    border-top: 2px solid #0065FC;
    padding-top: 10px;
}

/****** Zone informations et recherche ***********/

.recherche {
    display: flex;
    flex-direction: row;
    margin: 30px 0px;
}

.LocaIcone {
    background-color: #F2F2F2;
    justify-content: center;
    padding: 0px 20px;
    border-radius: 15px 0px 0px 15px;
    height: 50px;
}

.LocaIcone .fa-solid {
   height: 50px;
   line-height: 50px;
   vertical-align: middle;
}

form {
    display: flex;
    align-items: center;
    height: 50px;
}

input[name="recherche"] {
    border: 1px solid #F2F2F2;
    border-right: none;
    height: 50px;
    padding: 0px 30px;
    box-sizing: border-box;
}

input[name="recherche"]:focus {
    outline: none;
}

form button {
    border: 1px solid #0065FC;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border-radius: 0px 15px 15px 0px;
    font-size: 1.125em;
    height: 50px;
    padding: 0px 15px;
    cursor: pointer;
    box-sizing: border-box;
}

.loupe {
    display: none;
}

::placeholder {
    color: black;
    opacity: 1;
    font-size: 1.200em;
    text-align: center;
    font-weight: bold;
}

/****** Filtres et info en dessous***********/

.filtres {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-weight: bold;
    align-items: center;
    margin-bottom: 20px;
}

.titreFiltre {
    font-size: 1.125em;
    margin-top: 0;
    padding-top: 15px;
}

.groupeCaseFiltre {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 1.063em;
}

.caseFiltre {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    border: 2px solid #d9d9d9;
    padding: 0px 15px;
    border-radius: 25px;
    height: 50px;
    box-sizing: border-box;
}

.caseFiltre:hover {
    background-color: #DEEBFF;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.info .fa-solid {
    padding: 12px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
}

/****** Hebergements And Populaires ***********/

.hebergementsEtPopulaires {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.hebergementsEtPopulaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

#hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hebergementsCards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hebergementsCards a {
    width: 30%;
    height: 206px;
    text-decoration: none;
    color: black;
    margin-bottom: 15px;
    margin-top: 15px;
}

.hebergementsCards img {
    width: 100%;
    height: 110px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergementsCards .cardTitre {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergementsCards .cardSousTitre {
    margin-top: 5px;
    margin-bottom: 5px;
}

.hebergementsCards .cardContenu {
    margin-left: 10px;
}

.hebergementsCards .cardNote {
    margin-bottom: 5px;
}

.afficherPlus {
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

/****** Populaires ***********/

.populaires {
    width: 32%;
}

.PopulairesTitre {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.PopulairesCards .card {
    display: flex;
    margin-top: 33px;
}

.PopulairesCards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.PopulairesCards .cardContenu {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.PopulairesCards .cardTitre {
    margin-top: 10px;
    margin-bottom: 4px;
}

.PopulairesCards .cardSousTitre {
    margin: 0;
}

.PopulairesCards .cardNote {
    margin-bottom: 5px;
}

.PopulairesCards a {
    text-decoration: none;
    color: black;
}

/****** Activités ***********/

#activites {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    padding: 30px;
    margin-top: 35px;
    margin-bottom: 35px;
    box-sizing: border-box;
}

.activitesCards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activitesCards img {
    height: 380px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.activitesCards .card {
   display: flex;
   flex-direction: column;
   margin: 0;
   padding: 0;
}

.activitesCards a {
    width: 23%;
    text-decoration: none;
    color: black;
}

.activitesCards .cardTitre {
    margin: 20px 19px;
}

/****** Footer ***********/

.liensFooter {
    display: flex;
    flex-direction: row;
    background-color:#F2F2F2;
    gap: 230px;
}

.coloneFooter {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.coloneFooter h2 {
    font-size: 1.125em;
    margin: 0;
}

.coloneFooter ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.coloneFooter li {
    margin-top: 15px;
}

.coloneFooter a {
    color: black;
    text-decoration: none;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {
    
    /*** Filtres ***/

    .filtres {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    /*** Zone cards hébergements et populaires ***/

    .hebergementsEtPopulaires {
        flex-direction: column;
    }

    #hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .PopulairesCards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .PopulairesCards a {
        width: 30%;
    }

    .PopulairesCards .cardTitre {
        font-size: 14px;
    }

    .PopulairesCards .cardSousTitre {
        font-size: 13px;
    }

    /*** Zone cards activités ***/

    .activitesCards img {
        height: 200px;;
    }

    .activitesCards .card {
        height: 278px;
    }

    .liensFooter {
        gap: 80px;
    }
}

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {

    .conteneurPrincipal {
        padding: 0;
    }

    /*** Zone informations ***/

    .groupeInfo {
        padding: 0px 20px;
    }

    .EnTete {
        flex-direction: column;
        align-items: center;
    }

    nav {
        width: 100%;
        text-align: center;
        gap: 0px;
    }

    nav a {
        width: 50%;
    }

    nav a:hover {
        border-top: none;
        border-bottom: 2px solid #0065FC;
        padding : 12px 0px 10px 0px
    }

    .rechercher {
        display: none;
    }

    .loupe {
        display: block;
    }

    .groupeCaseFiltre {
        flex-wrap: wrap;
    }

    .caseFiltre {
        width: 45%;
        font-size: 0.9em;
    }

    /*** Zone cards hébergements et populaires ***/

    .hebergementsEtPopulaires section {
        border-radius: 0;
    }

    .hebergementsEtPopulaires #hebergements {
        background-color: white;
    }

    .hebergementsEtPopulaires {
        flex-direction: column-reverse;
        margin-top: 30px;
        gap: 30px;
    }

    .populaires {
        margin-top: 0px;
    }

    .PopulairesCards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .PopulairesCards a {
        width: 100%;
    }

    .hebergementsCards {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .hebergementsCards a {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /*** Zone cards activités ***/

    .activitesCards {
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }

    .activitesCards .card {
        height: 200px;
    }

    .activitesCards a {
        width: 100%;
    }

    .activitesCards img {
        height: 141px;
    }

    /*** Footer ***/

    .liensFooter {
        flex-direction: column;
        gap: 20px;
    }
}